body{
    background-color: aliceblue;
}
.heading{
    background-color: aqua;
    width: 150;
    height: 150;

    margin-top: 15;
    margin-left: 10;
    border: solid black;
    border-width: 5;
    padding: 25;
    font-size: 14;
}
.Harsh{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box2{
    background-color: red;
    width: 150;
    height: 150;
    margin-left: 220;
    border: solid black;
    border-width: 20;
    padding: 25;
}
.box3{
    background-color: blue;
    width: 150;
    height: 150;
    margin-left: 460;
    border: solid black;
    border-width: 10;
    padding: 25;

}